type geomagneticd, domain;
type geomagneticd_exec, exec_type, file_type;

init_daemon_domain(geomagneticd)
allow geomagneticd input_device:dir r_dir_perms;
allow geomagneticd input_device:chr_file rw_file_perms;
allow geomagneticd sysfs:file rw_file_perms;

# Write /data/yas.cfg
allow geomagneticd system_data_file:dir rw_dir_perms;
allow geomagneticd system_data_file:file create_file_perms;
