binder_use(rild)

allow rild self:netlink_socket { create bind read write };
allow rild self:netlink_route_socket { write };

# Allow logging diagnostic items
allow rild diagnostic_device:chr_file rw_file_perms;

# XXX label with own type?
allow rild sysfs:file { read open write getattr };

allow rild proc_net:file write;
allow rild self:capability dac_override;
allow rild self:process execmem;
allow rild radio_data_file:file rw_file_perms;
allow rild mediaserver:binder { transfer call };
allow rild system_prop:property_service set;
allow rild system_data_file:dir rw_dir_perms;
allow rild system_data_file:file { create read write };
