on early-init
    start ueventd

on init
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard
    export SECONDARY_STORAGE /external_sd

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /external_sd
    mkdir /system
    mkdir /data
    mkdir /data/data
    mkdir /cache
    mount /tmp /tmp tmpfs

on boot
    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery

service adbd /sbin/adbd recovery
    disabled

# fix reboot issue from recovery
service fix_reboot /sbin/sh /sbin/fix_reboot.sh
    user root
    oneshot

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    start adbd

# Restart adbd so it can run as root
on property:service.adb.root=1
    restart adbd
